<a href="https://colab.research.google.com/github/skyoffire8823/Prmn2023re/blob/main/my_answer/PythonBasic_2_MyAnswer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2章 課題

## 課題1

for文を使って、以下のように出力してください

![oSFeQoX.png](https://i.imgur.com/oSFeQoX.png)

In [44]:
#入力用
for num in range(1,8,2):
  blank=[]
  mark=[]
  a=4-(num+1)/2
  for i in range(int(a)):
    blank.append(" ")
  
  for j in range(num):
    mark.append("*")

  suit=blank+mark+blank
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()

   *
  ***
 *****
*******

## 課題2

課題1の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  
![o5NjugQ.png](https://imgur.com/o5NjugQ.png)

In [41]:
# 入力用
n=int(input())
for num in range(1,n*2,2):
  blank=[]
  mark=[]
  a=n-(num+1)/2
  for i in range(int(a)):
    blank.append(" ")
  
  for j in range(num):
    mark.append("*")

  suit=blank+mark+blank
  T=tuple(suit)

  for t in T:
    print(t, end='')

  print()

5
    *
   ***
  *****
 *******
*********

## 課題3

for文を使って、以下のように出力してください

![oSirXec.png](https://imgur.com/oSirXec.png)

In [51]:
# 入力用
def PRINT(X,Y):
  blank=[]
  mark=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for j in range(Y):
    mark.append("*")

  suit=blank+mark+blank
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()


for num in range(1,8,2):
  a=4-(num+1)/2
  PRINT(a,num)

for NUM in range(5,0,-2):
  b=4-(NUM+1)/2
  PRINT(b,NUM)

   *
  ***
 *****
*******
 *****
  ***
   *

## 課題4

課題3の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![my4J17V.png](https://i.imgur.com/my4J17V.png)

In [53]:
# 入力用
def PRINT(X,Y):
  blank=[]
  mark=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for j in range(Y):
    mark.append("*")

  suit=blank+mark+blank
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()

n=int(input())
for num in range(1,n*2,2):
  a=n-(num+1)/2
  PRINT(a,num)

for NUM in range((n-1)*2-1,0,-2):
  b=n-(NUM+1)/2
  PRINT(b,NUM)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## 課題5

for文を使って、以下のように出力してください

![vDUi5eM.png](https://imgur.com/vDUi5eM.png)

In [61]:
# 入力用
def PRINT(X,Y):
  blank=[]
  blank2=[]
  mark=[]
  mark2=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for I in range(int(X-1)):
    blank2.append(" ")

  for j in range(Y):
    mark.append("*")
    
  for J in range(Y-1):
    mark2.append("*")
  
  if X == 0:
    suit=blank+mark+blank+blank2+mark2
  else:
    suit=blank+mark+blank+blank2+mark
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()


for num in range(1,8,2):
  a=4-(num+1)/2
  PRINT(a,num)

for NUM in range(5,0,-2):
  b=4-(NUM+1)/2
  PRINT(b,NUM)

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題6

課題5の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![udkVlYG.png](https://imgur.com/udkVlYG.png)

In [63]:
# 入力用
def PRINT(X,Y):
  blank=[]
  blank2=[]
  mark=[]
  mark2=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for I in range(int(X-1)):
    blank2.append(" ")

  for j in range(Y):
    mark.append("*")
    
  for J in range(Y-1):
    mark2.append("*")
  
  if X == 0:
    suit=blank+mark+blank+blank2+mark2
  else:
    suit=blank+mark+blank+blank2+mark
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()

n=int(input())
for num in range(1,n*2,2):
  a=n-(num+1)/2
  PRINT(a,num)

for NUM in range((n-1)*2-1,0,-2):
  b=n-(NUM+1)/2
  PRINT(b,NUM)

5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *

## 課題7

for文を使って、以下のように出力してください

![IuP0M16.png](https://imgur.com/IuP0M16.png)

In [67]:
#入力用
def PRINT(X,Y):
  blank=[]
  blank2=[]
  mark=[]
  mark2=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for I in range(int(X-1)):
    blank2.append(" ")

  for j in range(Y):
    mark.append("*")
    
  for J in range(Y-1):
    mark2.append("*")
  
  if X == 0:
    suit=blank+mark+blank+blank2+mark2
  else:
    suit=blank+mark+blank+blank2+mark
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()


for num in range(1,8,2):
  a=4-(num+1)/2
  PRINT(a,num)

for NUM in range(5,0,-2):
  b=4-(NUM+1)/2
  PRINT(b,NUM)

for num2 in range(3,8,2):
  c=4-(num2+1)/2
  PRINT(c,num2)

for NUM2 in range(5,0,-2):
  d=4-(NUM2+1)/2
  PRINT(d,NUM2)

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題8

課題7の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![AlTnu1k.png](https://imgur.com/AlTnu1k.png)

In [69]:
# 入力用
def PRINT(X,Y):
  blank=[]
  blank2=[]
  mark=[]
  mark2=[]
  for i in range(int(X)):
    blank.append(" ")
  
  for I in range(int(X-1)):
    blank2.append(" ")

  for j in range(Y):
    mark.append("*")
    
  for J in range(Y-1):
    mark2.append("*")
  
  if X == 0:
    suit=blank+mark+blank+blank2+mark2
  else:
    suit=blank+mark+blank+blank2+mark
  T=tuple(suit)
  
  for t in T:
    print(t, end='')
  print()

n=int(input())
for num in range(1,n*2,2):
  a=n-(num+1)/2
  PRINT(a,num)

for NUM in range((n-1)*2-1,0,-2):
  b=n-(NUM+1)/2
  PRINT(b,NUM)

for num2 in range(3,n*2,2):
  c=n-(num2+1)/2
  PRINT(c,num2)

for NUM2 in range((n-1)*2-1,0,-2):
  d=n-(NUM2+1)/2
  PRINT(d,NUM2)

6
     *         *
    ***       ***
   *****     *****
  *******   *******
 ********* *********
*********************
 ********* *********
  *******   *******
   *****     *****
    ***       ***
     *         *
    ***       ***
   *****     *****
  *******   *******
 ********* *********
*********************
 ********* *********
  *******   *******
   *****     *****
    ***       ***
     *         *