<a href="https://colab.research.google.com/github/skyoffire8823/Prmn2023re/blob/main/my_answer/PythonBasic_4_Question_%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E4%BD%9C%E6%88%90%E6%B8%88%E3%81%BF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random
gakusei_list=[]
gakusei2_list=[]
for i in range(5):
  R=random.randint(1,280)
  R=10*R
  bangou=R+2220000
  gakusei_list.append(bangou)
  
for j in gakusei_list:
  seito=str('b')+str(j)
  gakusei2_list.append(seito)

print(gakusei2_list)

['b2220820', 'b2220640', 'b2220810', 'b2222280', 'b2220550']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random

list1=[]
list2=[]
list3=[]

def settei(n,list):
  for i in range(n):
    R=random.randint(1,9)
    list.append(R)

  return list

list1=settei(5,list1)
print(f'一つ目のリストは{list1}')
list2=settei(5,list2)
print(f'二つ目のリストは{list2}')

for j in range(5):
  number=list1[j]+list2[j]
  list3.append(number)

print(f'足し合わせたリストは{list3}')

一つ目のリストは[1, 8, 1, 4, 8]
二つ目のリストは[3, 3, 4, 2, 2]
足し合わせたリストは[4, 11, 5, 6, 10]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
from os import getgrouplist
# 入力用
import random

todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)
print(todohuken_list)

group_list=[]
for i in range(12):
  Bunkatu=todohuken_list[i*4:(i+1)*4]
  group_list.append(Bunkatu)
  
print(group_list)

['宮崎県', '富山県', '石川県', '京都府', '栃木県', '三重県', '広島県', '埼玉県', '長野県', '長崎県', '青森県', '沖縄県', '島根県', '山口県', '北海道', '熊本県', '和歌山県', '福井県', '茨城県', '福島県', '神奈川県', '滋賀県', '岡山県', '大阪府', '千葉県', '奈良県', '鹿児島県', '岐阜県', '愛媛県', '大分県', '福岡県', '佐賀県', '兵庫県', '岩手県', '宮城県', '新潟県', '高知県', '山形県', '山梨県', '秋田県', '東京都', '徳島県', '群馬県', '静岡県', '香川県', '愛知県', '鳥取県']
[['宮崎県', '富山県', '石川県', '京都府'], ['栃木県', '三重県', '広島県', '埼玉県'], ['長野県', '長崎県', '青森県', '沖縄県'], ['島根県', '山口県', '北海道', '熊本県'], ['和歌山県', '福井県', '茨城県', '福島県'], ['神奈川県', '滋賀県', '岡山県', '大阪府'], ['千葉県', '奈良県', '鹿児島県', '岐阜県'], ['愛媛県', '大分県', '福岡県', '佐賀県'], ['兵庫県', '岩手県', '宮城県', '新潟県'], ['高知県', '山形県', '山梨県', '秋田県'], ['東京都', '徳島県', '群馬県', '静岡県'], ['香川県', '愛知県', '鳥取県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
university_order={'Hakodate,23':0,'Chitose,25':1,'Muroran,74':2,'Hokudai,105':3}

print(sorted(university_list, key=lambda x: university_order[x]))

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
number_list=[]
for i in range(1,101):
  if i%3 == 0 and i%5 != 0:
    number='Fizz'

  elif i%3 != 0 and i%5 == 0:
    number='Buzz'

  elif i%3 == 0 and i%5 == 0:
    number='FizzBuzz'

  else:
    number='others'

  number_list.append(number)

print(f'FizzBuzzの数：', end="")
print(number_list.count('FizzBuzz'))

print(f'Fizzの数：', end="")
print(number_list.count('Fizz'))

print(f'Buzzの数：', end="")
print(number_list.count('Buzz'))

print(f'othersの数：', end="")
print(number_list.count('others'))

FizzBuzzの数：6
Fizzの数：27
Buzzの数：14
othersの数：53